html { height: 100% }
body{
  display:none;
  font-family:Arimo, helvetica, arial, sans-serif;
  margin:0;
  height: 100%;
}

#ui-page-start, #ui-page-start > .ui-content { height: 100% }

#home .ui-header, #home .ui-content, #home .ui-footer, #credits .ui-header, #credits .ui-content, #credits .ui-footer{
  margin:0 auto;
  border-left-width: 1px;
  border-right-width: 1px;
}

.ui-page a{
  color:white;
}

.logo{
  padding:0 10px;
}

.tagline{
  padding-bottom:5px
}

#map{
  overflow-y:hidden;
}  

#map_canvas{
  text-shadow:none;
  width: 100%; 
  height: 100%;
  color:#333;
}

#map-buttons{
  position:absolute;
  top:46px;
  right:135px;
}

.map-button{
  overflow-x: hidden; 
  overflow-y: hidden; 
  text-align: center; 
  -webkit-user-select: none; 
  font-size: 12px; 
  line-height: 160%; 
  padding: 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
  box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
  min-width: 47px; 
  color: black; 
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 187, 223);
  border-radius: 2px 2px;
  font-weight: normal; 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(254, 254, 254)), to(rgb(243, 243, 243))); 
  background-image: -moz-linear-gradient(center bottom, rgb(254,254,254) 0%,rgb(243,243,243) 100%);
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: initial; 
  background-position: initial initial; 
  background-repeat: initial initial;
  display:inline-block;
}

.map-button a{
  display:block;
  color:#000;
  text-decoration:none;
  text-shadow:none;
}

.marker{
  width:320px;
}

.marker a{
  color:#333;
  text-decoration:none;
}

.marker a:hover{
  text-decoration:underline;
}

.marker .thumb{
  float:left;
  width:100px;
  height:100px;
  margin-right:4px;
  margin-bottom:4px;
}

#startBox{
  clear:both;
}

label{
  clear:both;
}

.ui-field-contain{
  padding:0.5em 0 !important;
}

.error{
  border-color:#b22828 !important;
  background-color:#ffd5d5 !important;
}

#elevation_chart{
  height:100px;
}

#pano{
  width:100%;
}

#directions .waypoint{
  clear:both;
  margin-top:7px;
  overflow:hidden;
}

#directions h2{
  margin-bottom:0;
  display:inline;
  padding-right:15px;
}

#directions .image{
  width:100px;
  padding-right:5px;
  float:left;
  clear:both;
}

#directions .distance{
  margin-top:10px;
  margin-left:25px;
  font-weight:bold;
}

#directions ul{
  margin-top:0;
  margin-left:90px;
}

#directions .btn{
  display:inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color:white;
  text-shadow:none;
  text-decoration:none;
  -moz-box-shadow:    3px 3px 5px #333;
  -webkit-box-shadow: 3px 3px 5px #333;
  box-shadow:         3px 3px 5px #333;
  border:2px #666 solid;
  color: #333;
  font-weight:bold;
}

#directions .actions{
  margin-bottom:10px;
  overflow:hidden;
  padding-bottom:5px;
}

#directions .streetview{
  font-size:12px;
  padding:7px 8px;
  margin-right:20px;
}

#directions .rating{
  padding:5px 8px;
  font-size: 12px;
  margin-top:5px;
}

.summary{
  margin:5px 0;
}

.additionalInfo,
#headerUpdate{
  display:none;
}

@media screen and (min-width: 800px) {
  #inputs{
    max-width:600px;
    margin:auto;
  }
  .logo{
    margin:0 15px 5px 15px;
  }
  .additionalInfo{
    display:block;
    margin:0 auto 15px auto;
    overflow:hidden;
  }
  
  .additionalInfo h2{
    font-size:30px;
  }
  
  .additionalInfo p{
    line-height:24px;
    width:500px;
  }
  
  .additionalInfo .screenshot{
    width:199px;
    height:250px;
    float:left;
    margin:0 20px 10px 0;
    border:3px solid #666;
    -moz-box-shadow:    3px 3px 5px #aaa;
    -webkit-box-shadow: 3px 3px 5px #aaa;
    box-shadow:         3px 3px 5px #aaa;
  }
  
  .ui-footer .ui-btn{
    margin:5px 15px 5px 15px !important;
  }
  
  .ui-footer{
    position:absolute !important;
    bottom:0;
  }
  
  .ui-header .edit{
    display:none !important;
  }
  
  .ui-header h1{
    display:inline-block !important;
  }
  
  .ui-header #headerUpdate{
    display:inline !important;
  }
  
  .ui-header #headerInput{
    display:inline-block !important;
    width:40%;
  }
}

@media screen and (max-width: 500px) {
  .ui-header h1 span{
    display:none
  }
}
