html { height: 100% }
body{
  display:none;
  font-family:Arimo, helvetica, arial, sans-serif;
  margin:0;
  height: 100%;
}

#ui-page-start, #ui-page-start > .ui-content { height: 100% }

#home .ui-header, #home .ui-content, #home .ui-footer, #credits .ui-header, #credits .ui-content, #credits .ui-footer{
  max-width:600px;
  margin:0 auto;
  border-left-width: 1px;
  border-right-width: 1px;
}

.ui-page a{
  color:white;
}

.logo{
  padding:0 10px;
}

#map{
  overflow-y:hidden;
}  

#map_canvas{
  text-shadow:none;
  width: 100%; 
  height: 100%;
  color:#333;
}

#map-buttons{
  position:absolute;
  top:46px;
  right:135px;
}

.map-button{
  overflow-x: hidden; 
  overflow-y: hidden; 
  text-align: center; 
  -webkit-user-select: none; 
  font-size: 12px; 
  line-height: 160%; 
  padding: 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
  box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
  min-width: 47px; 
  color: black; 
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 187, 223);
  border-radius: 2px 2px;
  font-weight: normal; 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(254, 254, 254)), to(rgb(243, 243, 243))); 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: initial; 
  background-position: initial initial; 
  background-repeat: initial initial;
  display:inline-block;
}

.map-button a{
  display:block;
  color:#000;
  text-decoration:none;
  text-shadow:none;
}

.marker .thumb{
  float:left;
  width:100px;
  height:100px;
  margin-right:4px;
  margin-bottom:4px;
}

#startbox{
  clear:both;
}

label{
  clear:both;
}

.ui-field-contain{
  padding:0.5em 0 !important;
}

.error{
  border-color:#b22828 !important;
  background-color:#ffd5d5 !important;
}

#elevation_chart{
  height:100px;
}

#pano{
  width:100%;
}

#directions h2{
  margin-bottom:0;
  display:inline;
  padding-right:15px;
}

#directions .distance{
  margin-top:10px;
  margin-left:25px;
  font-weight:bold;
}

#directions ul{
  margin-top:0;
}

#directions .streetview{
  font-size:12px;
  color:#EECCFF;
}